.products-header{
    display: flex;
    flex-direction: column;
    gap: 2em;
    justify-content: space-between;
    align-items: center;
    padding-block-end: 1em;
}

.heading-wrapper{
    text-transform: uppercase;
}

.sort-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.75em 1em;
}

.sort-container:hover, .sort-container:focus, .sort-container label:hover{
    cursor: pointer;
}

#sort, #sort:hover, #sort:focus, #sort:focus-within{
    border: none;
    outline: none;
    cursor: pointer;
}

#sort{
    margin-top: 0.15em;
    font-size: 1rem;
    padding: 0.5em 0;
}

.products-wrapper{
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    position: relative;
}

.product-grid{
    /* border: 1px solid red; */
    padding-block: 2rem;

    flex-grow: 1;    
}

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */

    height: 70dvh;
}

@media screen and (min-width: 1280px) {
    .products-header{
        flex-direction: row;
    }
}