.container-lg{
    max-width: 1600px;
    margin: 0 auto;
}

.container-md{
    max-width: 1400px;
    margin: 0 auto;
}

.container-sm{
    max-width: 1280px;
    margin: 0 auto;
}

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60dvh;
}

.mt{
    margin-block-start: 5rem;
}

.mb{
    margin-block-end: 4rem;
}

.m-inline{
    margin-inline: 2rem;
}

