.capitalize{
    text-transform: capitalize;
}

.bagpage-wrapper{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.items-info-container{

    /* width: 100%; */
    /* margin-left: 5rem; */
    /* border: 1px solid red; */

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items-info{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    gap: 2em;

    padding: 2em 1em;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.items-info + .items-info{
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 5em;
}

.centered{
    grid-column: 1 / -1;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    gap: 1em;
}

.full-span{
    grid-column: 1 / -1;
    margin: 0 auto;

    background: linear-gradient(to right, magenta, orangered, red, magenta);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.modal-link{
    color: inherit;
    text-decoration: none;
    border: 1px solid rgba(200, 200, 200, 0.8);
    color: rgb(255, 80, 123);
    background-color: white;
    border-radius: 5px;
    padding: 0.5em;
    margin-top: 0.25em;
    font-size: 1rem;
}

.modal-link:hover,
.modal-link:active{
    color: white;
    background-color: rgb(255, 80, 123);
    cursor: pointer;
}

.price-details{
    border: 1px solid rgba(0, 0, 0, 0.2);
    /* flex-grow: 1; */

    padding: 1em;
    margin-inline: auto;
    width: fit-content;
    height: max-content;
}

.price-details h3{
    margin-bottom: 2em;
}

.detail-line{
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.place-order-btn{
    width: 20ch;
    margin: 1.5em auto;
    text-transform: uppercase;
    font-size: 1.25rem;

    background-color: rgb(255, 80, 123);
    color: white;
    border: none;
    border-radius: 10px;
    outline: 0;
    padding: 0.75em 1em;

    cursor: pointer;
}

.place-order-btn:hover{
    opacity: 0.8;
}

.place-order-btn:active{
    color: rgb(255, 80, 123);
    background-color: white;
    border: 1px solid rgb(255, 80, 123);
}


@media screen and (min-width: 768px) {
    .place-order-btn{
        width: 30ch;
    }

}

@media screen and (min-width: 1100px) {
    .bagpage-wrapper{
        max-width: 1100px;
        flex-direction: row;
        /* gap: 0; */
    }

    .items-info-container{
        flex-grow: 1;
    }
    
}

@media screen and (min-width: 1440px) {
    .bagpage-wrapper{
        max-width: 1600px;
    }
    
}