*, *::after, *::before{
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  
  font-family: 'Inter Variable', sans-serif;
}

img{
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p{
  margin: 0;
}

li{
  list-style-type: none;
}

button{
  font-family: 'Inter Variable', sans-serif;
}